{% extends 'logsapp/layout.html' %}

{% block content %}
    <div class="col-md-4 text-center">
        <br><br>
        <h1>Welcome to the <b>LogiSticks App</b></h1>
        <br><hr>
        <h3>Please register an account or login to an existing one.</h3>
        <a class="btn btn-primary" type="button" href="login">Login</a>
        <br><br>
        <a class="btn btn-primary" type="button" href="register">Sign Up</a>
        <br><br><hr><br>
        <h3>If you're a delivery official, click below.</h3>
        <a class="btn btn-primary" type="button" href="{% url 'delivery' %}">Deliveries</a>
    </div>
{% endblock content %}